html {
    width: 100%;
    margin: 0;
}

header {
    height: 250px;
    background-color: lightgray;
}

section {
    height: 500px;
    background-color: lightblue;
}

footer {
    height: 100px;
    background-color: lightgreen;
}

p {
    margin: 0;
    text-align: center;
    line-height: 100px;
}