* {
    margin: 0;
    padding: 0;
}

#container {
    width: 1600px;
    background-color: rgb(25, 25, 25);
    margin: 0 auto;
}

#tiles {
    display: grid;
    grid-template-columns: repeat(6, minmax(50px, 267px));
    grid-template-rows: auto auto;
    grid-template-areas:
	'tile1 tile2 tile4 tile5 tile6 tile6'
	'tile3 tile3 tile4 tile5 tile7 tile8'
	;
    max-height: 534px;
}

#banner {
    height: 200px;
    background-color: aliceblue;
    width: 100%;
}

#content {
    height: 469px;
    background-color: aqua;
    width: 100%;
}

#tiles>.cell:nth-child(1) {
    grid-area: tile1;
}

#tiles>.cell:nth-child(2) {
    grid-area: tile2;
}

#tiles>.cell:nth-child(3) {
    grid-area: tile3;
}

#tiles>.cell:nth-child(4) {
    grid-area: tile4;
}

#tiles>.cell:nth-child(5) {
    grid-area: tile5;
}

#tiles>.cell:nth-child(6) {
    grid-area: tile6;
}

#tiles>.cell:nth-child(7) {
    grid-area: tile7;
}

#tiles>.cell:nth-child(8) {
    grid-area: tile8;
}